@import './../../assets/sass/theme.scss';

.cell {
  height: $cell-size;
  width: $cell-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5px;
  background-color:white;
}

.image {
  height: $cell-image;
  width: $cell-image;
  background-size: cover;
}

.name {
  margin: 0;
  font-size: 11px;
}

.count {
  margin: 0;
  font-size: 8px;
}